/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: #282828;
$link-color: #185f8e;

/*-- scss:rules --*/

.reveal .section h1 {
    font-size: 36pt;
}

.reveal h2 {
    font-size: 32pt;
}

.reveal h3 {
    font-size: 24pt;
}

.reveal p.subtitle {
    font-size: 32pt;
}

.reveal p.date {
    font-size: 24pt;
}

.reveal p {
    font-size: 12pt;
}


.reveal li {
    font-size: 22pt;
}


.reveal li ul li {
    font-size: 18pt;
}


.reveal div.csl-entry {
    font-size: 14pt;
}
